@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,500&display=swap');

/*Sekce Kontakty*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url("img/contacts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    background-color: rgba(17, 1, 20, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.5s ease;
}

header:hover{
    background-color: rgba(17, 1, 20, 1);
}

header .logo{
    width: 80px;
    animation: popUp 1.5s ease forwards;
}

header .nav{
    position: relative;
}

header .nav .nav-items a{
    position: relative;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .nav .nav-items a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .nav .nav-items a.active{
    color: #ab00fa;
}

header .nav .nav-items a:hover:before{
    background-color: #fff;
    width: 100%;
    background: #ab00fa;
    box-shadow: 0 0 10px #ab00fa, 0 0 40px #ab00fa, 
    0 0 10px #ab00fa;
    transition: 0.4s;
}

.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text{
    width: 850px;
    max-width: 100%;
    padding: 0 10px;
    display: block;
    justify-content: center;
}

.text h1{
    color: #fff;
    font-size: 100px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.text h4{
    color: #fff;
    font-size: 25px;
    margin-top: -10px;
}

.text p{
    color: #fff;
    margin-top: 20px;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: -350px;
    transition: 0.5s ease;
}

.icons:hover .icon{
    filter: brightness(1);
    transition: 0.3s ease;
}

.icons .icon:hover{
    filter: brightness(0.3);
    transition: 0.3s ease;
}

@keyframes popUp{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}

@media (max-width: 859px){
    header {
        padding: 12px 20px;
    }

    header .nav {
        display: none;
    }

    header .nav.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .nav .nav-items a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .nav .nav-items a::before{
        background: #222;
        height: 5px;
    }

    header .nav.active .nav-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn{
        background: url(img/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(img/close.png)no-repeat;
        background-size:  25px;
        background-position: center;
        transition: 0.3s ease;
    }
}

@media (max-width: 625px){
    .text h1{
        font-size: 60px;
    }
    
    .text h4{
        font-size: 20px;
        margin-top: -5px;
    }
}

@media (max-width: 360px){
    .text h1{
        font-size: 40px;
    }
    
    .text h4{
        font-size: 15px;
    }

    .text p{
        font-size: 14px;
    }
}